* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-primary {
   font-family: 'Teko', sans-serif !important;
   background-color: #000000 !important;
}

body {
  background-color: #B5B5B5;
}

.main-body {
  padding: 12px;
}

h2 {
  text-decoration: underline;
}

.main-body {
  font-family: 'Inter', sans-serif;
}

.full-page-picture {
  position: relative;
  text-align: center;
  color: white;
}

.home-page-picture img {
  width: 100%;
}

.home-page-picture-text {
  font-family: 'Teko', sans-serif;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-links {
  color: yellow;
}

.page-links:hover {
  color: #865BD9;
}

.memes {
  display: grid;
  grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
}

.image img {
  width: 100%;
  height: 100%;
}

.player-list {
  margin-left: 28%;
  margin-right: 28%;
}

.player-list h2 {
  text-decoration: underline;
  padding-left: 20%;
}

.player-list-table {
  display: flex;
  border-collapse: collapse;
  width: 100%;
}

.player-list-table tr, .player-list-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.player-list-table th {
  padding: 1%;
  text-align: left;
}

.player-list-table tr:nth-child(even){
  background-color: white;
}

.player-list-table tr:nth-child(odd){
  background-color: #D0D0D0;
}

.player-list-table tr:hover {
  background-color: #ddd;
}

ul {
  list-style-type: none;
  margin: 0;
}

.icon-and-info {
  margin-left: 20%;
  margin-right: 20%;
}

.player-info-heading {
 text-decoration: underline;
 text-align: center;
}

.player-data {
  display: flex;
}

.player-icon img {
  display: flex;
  width: 100%;
  align-items: flex-start;
}

.perk-build img {
  width: 100%;
}

.player-info {
  padding-left: 1%;
  width: 75%;
}

footer {
  text-align: center;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .home-page-picture-text h1 {
    font-size: 10px;
  }

  .home-page-picture-text p {
    padding-top: 8px;
    font-size: 5px;
  }
  footer {
   font-size: 5px;
   padding-top: 5px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .home-page-picture-text h1 {
    font-size: 20px;
  }

  .home-page-picture-text p {
    padding-top: 15px;
    font-size: 9px;
  }

  footer {
   font-size: 9px;
   padding-top: 8px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .home-page-picture-text h1 {
    font-size: 50px;
  }

  .home-page-picture-text p {
    padding-top: 35px;
    font-size: 18px;
  }

 footer {
  font-size: 15px;
  padding-top: 12px;
 }
}
